* {
	font-family: helvetica;
}

#popAlert-shadow {
	background-color: black;
	margin: 0px;
	padding: 0px;
	position: fixed;
	left: 0px;
	top: 0px;
	opacity: 0.3;
	z-index: 0;
}

#popbox {
	max-width: 300px;
	min-width: 100px;
	/*width: 50%;*/
	background-color: white;
	z-index: 10;
	position: fixed;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	box-shadow:  #999999 0px 0px 20px;
}

#popbox-title {
	background-color: #2786e3;
	text-align: center;
	-webkit-user-select: none;
}

#popbox-content {
	text-align:  center;
	-webkit-user-select: none;
}

#popbox-cancelbtn {
	text-align: center;
	margin: auto auto;
}